# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore eclipse
bin
.classpath
.factorypath
.settings

# Ignore Node.js
package-lock.json
node_modules

# Ignore IDEA
.idea
local.properties
